body {
    /*background-image: url(./img/background.jpg);
    /* background-attachment: fixed;
    background-size: cover; */
}
.scroll-h{
  width: 100%;
  overflow: scroll;
}
ul{
  width: max-content;
  height:150px;
  overflow-x: scroll;
}
li{
  display: inline-block;
}
#js-albums{
  width:373px;
  border:1px solid black;
  padding: 10px;
  margin-bottom: 10px;

}
table,th,td{
  border: 2px solid black;
  border-collapse: collapse;
  opacity:0.95;
}
th,td{
  padding: 10px;
  text-align: center;
}
th{
  background-color: #a70000;
  color:white;
}
tr:nth-child(even){
  background-color: #e8e8e8;
}
tr:nth-child(odd){
  background-color: white;
}
.container{
  margin-left: 36%;
  margin-bottom: 20px;
  margin-top: 20px;
  width:500px;
  height: 150px;
  background-color: #eee;
  padding-top: 30px;
  padding-left: 70px;

}
/* td{
  background-color: lightblue;
} */
